html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body{
  height: 100% ;
}

html, body , #root {
  min-height: 100% ;
}

#root {
  display: flex;
  background-image: linear-gradient(135deg, #00c9ff, #008ffba6);
  justify-content: center;
  align-items: center;
}


.weather-app {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: azure;
  padding: 20px;
  border-radius: 15px;
}

.current-box {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1/3;
}

.current-main{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.current-main div:nth-child(2){
  font-size: 54px;
}

.cur-wthdics{
  position: relative;
  bottom: 25px;
}

.current-temp {
  text-align: center;
}
.feels-like{
  font-size: 16px;
}

.current-details{
  background-color: rgb(192, 235, 255);
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 10px;
  grid-row-gap: 5px;
}

.current-details > div {

  justify-self: center;
  padding: 10px 0px;
  font-size: 130%;
}

table{
  background-color: #c1ebff;
  text-align: center;
  margin-left: 20px;
  border-radius: 10px;
  
}


th {
  padding-top: 5px;
  margin: 12px;
}

tr td {
  padding: 0px 10px
}

tbody{
  border: none;
}

th {
  font-size: 120%;
}

.hourly-box p{
  margin-left: 20px;
}

.hourly-tmp{
  position: relative;
  bottom: 10px;
}

.daily-box {
  display: flex;
  height: 100px;
  margin: 0px 0px 20px 20px;
  justify-content: space-between;
}

.daily-item {
  text-align: center;
  background-color: #c1ebff;
  border-radius: 10px;
  padding: 5px
}

.hide {
  display: none;
}

.load {
  display: block;
  position: absolute;
  right: 5px;
  top: -25px;
    
}

.box {
  width: 30px;
  margin: 30px auto;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.it {
  width: 4px;
  background-color: rgb(36, 175, 255);
  height: 25px;
  animation-name: go;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.m2 {
  animation-delay: 0.1s;
}

.m3 {
  animation-delay: 0.2s;
}

.m4 {
  animation-delay: 0.3s;
}

.m5 {
  animation-delay: 0.4s;
}

@keyframes go {
  0% {
      transform: scaleY(1);
      background-color: rgb(15, 137, 252);
  }

  15% {
      transform: scaleY(2);

  }

  25% {
      transform: scaleY(1)
  }
}